#imagemPerfil {
  border-radius: 25%;
  border: 18px solid #FFF;
}

body {
   background: url(https://media.discordapp.net/attachments/846891947654250526/890953655623237662/cb8e22e928762930d5abbbed6e3b1616.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center center;
   background-attachment: fixed;
   background-blend-mode: overlay;
   color: #FFF;
   font-family: Arial, Helvetica, sans-serif;
}

h2, h3 {
  font-size: 25px;
}

.githubRedirect {
  color: white;
  font-size: 19px;
  text-decoration: none;
  font-family: Courier New, monospace;
}
