#imagemPerfil {
  border-radius: 25%;
  border: 18px solid #FFF;
}

body {
   background: url(https://media.discordapp.net/attachments/846891947654250526/890950986309455922/b71fb96049e24f4b99bd65268a479973.jpg);
   color: #FFF;
   font-family: Arial, Helvetica, sans-serif;
}

h2, h3 {
  font-size: 25px;
}

.githubRedirect {
  color: white;
  font-size: 19px;
  text-decoration: none;
}
